* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Dancing Script", cursive;

}

body {

    background: linear-gradient(342deg, rgba(71, 10, 10, 1) 0%, rgba(203, 140, 162, 1) 60%);
    height: 149vh;
    

}

.contato-link { 
display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.contato-link a { 

    width: 46px;
    border: none;
    display: flex;
}

.contato-link a:hover { 
    background-color: transparent;
}

img {
    display: block;
   margin: 0 auto;
    width: 300px;
    height: auto;
    margin-top: 50px;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 50px;

}

div.content { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

a {
    width: 500px;
    margin: 15px auto;
    height: 50px;
    border-radius: 30px;
    font-size: 25px;
    font-weight: 100;
    cursor: pointer;
    background: transparent;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    color: black;
    border: 2px solid;
    border-color: rgba(71, 10, 10, 1);
    


}

a:hover {
    opacity: 0.7;
    background-color: rgba(71, 10, 10, 1);
    color: #FFFF;
    transform: translateY(-10px);
    font-size: 23px;
    transition: 0.5s ease-in;

}

a:active {
    opacity: 0.7;
    transition: 0.5s;
    background-color: rgba(203, 140, 162, 1);
}


h3 {
    margin: 15px;
    text-align: center;
    font-size: 35px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    margin-right: 50px;
}

div .img-insta,.img-wpp,.img-maps{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 156px;
    bottom: 6px;
}

.img-calendar {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 130px;
    bottom: 6px;

}

h4 { 
    font-size: 25px;
    text-align: center;
    margin-top: 45px;
    margin-left: 25px;
}
h6 { 
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    margin-left: 25px;
}

@media screen and (max-width:570px) {

body { 

    height: 121vh;
}


h3 { 
width: auto;
font-size: 27px;
margin-left: 40px;
} 

img { 

width: 50%;
display: block;
margin: 25px auto;

}

a { 
width: 50%;
font-size: 100%;

}

div .img-insta,.img-wpp,.img-maps{
    bottom: -15px;
    position: absolute;
    width: auto;
    right: 42px;
}


.img-calendar {
    position: absolute;
    width: auto;
    right: 40px;
    bottom: -12px;
}

div.content { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
a:hover {
    
        opacity: 0.7;
        background-color: rgba(71, 10, 10, 1);
        color: #FFFF;
        font-size: 16px;
        transition: 0.5s ease-in;
    
    }
    





}

@media screen and (max-width:515px) {


body { 

    height: 125vh;
}

    div .img-insta,.img-wpp,.img-maps{
      display: none;
    }
    
    
    .img-calendar {
       display: none;
    }

    div.content { 
        display: flex;
        align-items: center;
        margin-left: 32px;
        flex-direction: column;
    }

}



